@charset "utf-8";
/* CSS Document */
.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
}
.ui-datepicker {
    display: none;
    width: 200px;
    padding: 15px;
    cursor: default;
	opacity: 50%;
 
    text-transform: uppercase;
    font-family: Tahoma;
    font-size: 12px;
 
    background: #141517;
 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
 
    -webkit-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
    -moz-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
    box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
}
.ui-datepicker-header {
    position: relative;
    padding-bottom: 5px;
    border-bottom: 1px solid #d6d6d6;
}
 
.ui-datepicker-title { text-align: center; }
 
.ui-datepicker-month {
    position: relative;
    padding-right: 10px;
    color:#0CF;
}
 
.ui-datepicker-year {
    padding-left: 4px;
    color: #a8a8a8;
}
.ui-datepicker-month:before {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: 5px;
    height: 5px;
    content: '';
 
    background: #a5cd4e;
    background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: -2px;
    padding: 5px;
    cursor: pointer;
}
 
.ui-datepicker-prev {
    left: 0;
    padding-left: 0;
	color:#565656;
}
 
.ui-datepicker-next {
    right: 0;
    padding-right: 0;
	color:#565656;
}
.ui-datepicker-calendar th {
    padding-top: 7px;
    padding-bottom: 7px;
 
    text-align: center;
    font-weight: normal;
    color:#FF0404;
}
.ui-datepicker-calendar td {
    padding: 0 3.5px;
 
    text-align: center;
    line-height: 17px;
}
 
.ui-datepicker-calendar .ui-state-default {
    display: block;
    width: 20px;
    outline: none;
 
    text-decoration: none;
    color: #a8a8a8;
 
    border: 1px solid transparent;
}
.ui-datepicker-calendar .ui-state-active {
    color: #6a9113;
    border: 1px solid #6a9113;
}
 
.ui-datepicker-other-month .ui-state-default { color: #565656; }






